<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selecting Date time for Customer</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-around">
        <h2 class="text-uppercase text-start mb-3">Select Time</h2>
        <h2 class="text-center mb-3 current-date"></h2>
    </div>
    <div class="row g-4">
        <div class="col-md-7">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="text-dark" th:text="${service.get().name}"></h3>
                </div>
                <div class="card-body showcase-wrapper">
                    <div class="row g-3 time_elements">
                        <p class="mb-0">Morning</p>
                        <div class="col-auto" th:each="time : ${availableTime}"
                             th:if="${time.compareTo('12:00') < 0}">
                            <button class="btn btn-secondary time-btn" th:attr="data-time=${time}" th:text="${time}" >[[${time}]]</button>
                        </div>
                        <p class="mb-0">Afternoon</p>
                        <div class="col-auto" th:each="time : ${availableTime}"
                             th:if="${time.compareTo('12:00') >= 0 && time.compareTo('18:00') < 0}">
                            <button class="btn btn-secondary time-btn" th:attr="data-time=${time}" th:text="${time}">[[${time}]]</button>
                        </div>
                        <p class="mb-0">Evening</p>
                        <div class="col-auto" th:each="time : ${availableTime}"
                             th:if="${time.compareTo('18:00') >= 0}">
                            <button class="btn btn-secondary time-btn" th:attr="data-time=${time}" th:text="${time}" >[[${time}]]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card h-100">
                <div class="card-body showcase-wrapper">
                    <label for="datepicker">Select Date:</label>
                    <input type="text" id="datepicker">
                </div>
            </div>
        </div>
    </div>
</div>
<form id="bookingForm" class="d-none appointment_form" th:method="GET" th:action="@{/book/customer-info}">
    <input name="serviceId" type="hidden" th:value="${service.get().id}">
    <input name="barberId" type="hidden" th:value="${barber}">
    <input name="dateTime" id="dateTime" type="hidden" value="">
    <input name="time" id="time" type="hidden" value="">
</form>

<!--<script>-->
<!--    $(function () {-->
<!--        $("#datepicker").datepicker({-->
<!--            dateFormat: "yy-mm-dd",-->
<!--            onSelect: function (dateText) {-->
<!--                $("#dateTime").val(dateText);-->
<!--            }-->
<!--        });-->

<!--        $(".time-btn").on("click", function() {-->
<!--            var time = $(this).data("time");-->
<!--            $("#time").val(time);-->
<!--            $("#bookingForm").submit(); // Отправка формы-->
<!--        });-->
<!--    });-->
<!--</script>-->

<script>
    $(function () {
        // Проверяем, есть ли сохраненное значение в Local Storage
        var savedDate = localStorage.getItem('selectedDate');
        if (savedDate) {
            // Устанавливаем сохраненное значение в поле выбора даты
            $("#datepicker").val(savedDate);
            // Обновляем значение поля dateTime
            $("#dateTime").val(savedDate);
        }

        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function (dateText) {
                $("#dateTime").val(dateText);
                // Обновляем URL с новым значением даты
                updateURL(dateText);
                // Сохраняем выбранную дату в Local Storage
                localStorage.setItem('selectedDate', dateText);
                reloadPage();
            }
        });

        $(".time-btn").on("click", function() {
            var time = $(this).data("time");
            $("#time").val(time);
            $("#bookingForm").submit(); // Отправка формы
        });
    });

    // Функция для обновления URL с новым значением даты
    function updateURL(newDate) {
        var url = new URL(window.location.href);
        url.searchParams.set('dateTime', newDate);
        window.history.replaceState({}, '', url);
    }

    // Функция для обновления страницы
    function reloadPage() {
        location.reload();
    }
</script>


</body>
</html>
